@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

:root {
    --main-nav-bg-color: rgb(252, 252, 252);
    --main-logo-green: rgb(134, 191, 115);
    --main-font-hover: rgb(116, 116, 114); 
  }
.navbar {
    background-color: var(--main-nav-bg-color);
}
.navbar-item {
    color: var(--main-logo-green);
}

.nav-link:hover {
    color: var(--main-font-hover)
}
/* moving letters*/  
  h1,h2 {
    font-weight: 200;
    margin: 0.4em 0;
  }
  h1 { font-size: 3.5em; }
  h2 {
    color: #888;
    font-size: 2em;
  }