@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.footer-container {
    display: flex;
    max-width: 100%;
    background-color: lightgrey;
    padding:10px 0;
    margin: 0 100px;
}


.footer-formatting{
    display: flex;
    justify-content:space-evenly;
    max-width: 100%;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    background-color: lightgrey;
    padding:10px 0;
    margin: 0 100px;
}

.footer-formatting a {
    color: black;
}